<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>Canarabk</display-name>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>p1.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Balance</servlet-name>
		<display-name>Balance</display-name>
		<description></description>
		<servlet-class>p1.Balance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Changepwd</servlet-name>
		<display-name>Changepwd</display-name>
		<description></description>
		<servlet-class>p1.Changepwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Transferamt</servlet-name>
		<display-name>Transferamt</display-name>
		<description></description>
		<servlet-class>p1.Transferamt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Getstatement</servlet-name>
		<display-name>Getstatement</display-name>
		<description></description>
		<servlet-class>p1.Getstatement</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Forgetpw</servlet-name>
		<display-name>Forgetpw</display-name>
		<description></description>
		<servlet-class>p1.Forgetpw</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logout</servlet-name>
		<display-name>logout</display-name>
		<description></description>
		<servlet-class>p1.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Changepwd</servlet-name>
		<url-pattern>/Changepwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transferamt</servlet-name>
		<url-pattern>/Transferamt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Getstatement</servlet-name>
		<url-pattern>/Getstatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forgetpw</servlet-name>
		<url-pattern>/Forgetpw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>welcome.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
